<template>
    <div class="card m-auto">
        <div class="card-header">

            <div class="row justify-content-between">
                <div class="col-md-8">
                    {{header}}
                </div>
                <div class="col-md-1">
                    {{notifications_count}}
                </div>
            </div>
        </div>
        <ul class="list-group list-group-flush" v-for="item in list">

            <slot
                    v-if="item.id !== except"
                    v-bind:item="item"/>
        </ul>
    </div>
</template>

<script>
    export default {
        props: {
            header: {
                type: String,
                required: true
            },
            notifications_count: {
                type: Number,
                default: null
            },
            list: {
                type: Array,
                required: true
            },
            except: {
                type: Number,
                default: -1
            },
        }
    }
</script>

<style scoped>

</style>