<template>
    <section>

        <alert-component
                :url="activeGameURL"
                :message="message"/>

        <div class="row mx-0 justify-content-around">
            <div class="col-md-3">
                <dashboard-card-component
                        :header="'Sidear'"
                        v-slot:default="slotProps"
                        :list="[{name: 'here'},{name:'there'}]">
                    <li class="list-group-item p-0">
                        <a href="#" class="d-block p-3">{{slotProps.item.name}}</a>
                    </li>
                </dashboard-card-component>
            </div>

            <div class="col-md-3">
                <dashboard-card-component
                        :header="'Online Users'"
                        :notifications_count="1"
                        v-slot:default="slotProps"
                        :list="users"
                        :except="owner.id">

                    <user-list-item

                            :disabled="disable_interface"

                            @create_invitation_user="createInvitationUser"
                            @cancel_invitation_user="cancelInvitationUser"

                            @accept_invitation_user="acceptInvitationUser"
                            @deny_invitation_user="denyInvitationUser"

                            :index="slotProps.index"
                            :item="slotProps.item"/>
                </dashboard-card-component>
            </div>

            <div class="col-md-3">
                <dashboard-card-component
                        :header="'Active Games'"
                        v-slot:default="slotProps"
                        :list="games">

                    <game-list-item
                            :item="slotProps.item"/>
                </dashboard-card-component>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        data() {
            return {
                notifications: [],
                notified: [],
                users: [],
                games: [],
                owner: {},

                game_ready: false,
                disable_interface: false,
                message: '',

                notificationURL: '/api/notification/',
                activeGameURL: '/active-game/'
            }
        },

        created() {
            this.listenForDashboardBroadcast()
            this.listenForNotificationBroadcast()
        },

        methods: {
            showAlert(message, timeout = 2000) {
                this.message = message;
                setTimeout(this.hideAlert, timeout)
            },

            hideAlert() {
                this.message = null
            },

            getModelIndex(id, model = 'users', field = 'id') {
                let leaved = -1
                this[model].filter((item, index) => {
                    if (item[field] === id) {
                        leaved = index
                    }
                })
                return leaved
            },

            getAxios() {
                return axios.create({
                    headers: {
                        'Authorization': 'Bearer ' + window.api_token,
                    }
                })
            },

            disableInterface() {
                this.disable_interface = true
            },

            unableInterface() {
                this.disable_interface = false
            },

            listenForDashboardBroadcast() {
                Echo.join('dashboard')
                    .here((users) => {
                        this.users = users
                        this.synchronizeNotifications()
                    })
                    .joining((user) => {
                        this.users.push(user)
                        this.synchronizeNotifications()
                    })
                    .leaving((user) => {
                        let index = this.getModelIndex(user.id)
                        if (index > -1) {
                            this.users.splice(index, 1)
                        }
                    })
                    .listen('.GameStartedEvent', (e) => {
                        this.games.push(e.game)
                    })
                    .listen('.UserStatusChangedEvent', (e) => {
                        let index = this.getModelIndex(e.user.id)
                        this.users[index].status = e.user.status
                    })
            },

            listenForNotificationBroadcast() {
                Echo.join('notifications.user.' + window.user_id)
                    .here(data => {
                        this.notified = data[0].notified
                        this.notifications = data[0].notifications
                        this.owner = data[0].owner
                        this.games = data[0].games
                        if (this.owner.status === 1) {
                            this.game_ready = true
                            this.message = 'Your game is ready!'
                            this.disableInterface()
                        }
                        this.synchronizeNotifications()
                    }).listen('.NotificationCreatedEvent', (e) => {
                        this.pushNotification(e.notification)
                        this.synchronizeNotifications()
                        this.unableInterface()
                    })
                    .listen('.NotificationDeniedEvent', (e) => {
                        this.spliceNotification(e.notification)
                        this.synchronizeNotifications()
                        this.unableInterface()
                    })
                    .listen('.NotificationAcceptedEvent', (e) => {
                        this.game_ready = true
                        this.message = 'Your game is ready!'
                        this.disableInterface()
                    })
                    .listen('.NotificationBecomeIrrelevantEvent', (e) => {
                        this.spliceNotification(e.notification)
                        this.synchronizeNotifications()
                        this.unableInterface()
                    })
                    .listen('.NotificationExceptionEvent', (e) => {
                        this.showAlert(e.message)
                        this.unableInterface()
                    })
            },

            pushNotification(notification) {
                if (notification.initiated_user_id === window.user_id) {
                    this.notified.push(notification)
                } else if (notification.notifiable_user_id === window.user_id) {
                    this.notifications.push(notification)
                }
            },

            spliceNotification(notification) {
                if (notification.initiated_user_id === window.user_id) {
                    let index = this.getModelIndex(notification.id, 'notified', 'initiated_user_id')
                    this.notified.splice(index, 1)
                } else if (notification.notifiable_user_id === window.user_id) {
                    let index = this.getModelIndex(notification.id, 'notifications', 'initiated_user_id')
                    this.notifications.splice(index, 1)
                }
            },

            synchronizeNotifications() {
                if (this.users.length === 0) {
                    return false;
                }

                this.users.forEach((user, index) => {
                    this.users[index].notification = 0
                    this.notified.forEach(ntf => {
                        if (user.id === ntf.notifiable_user_id) {
                            this.users[index].notification = 1
                        }
                    })
                    this.notifications.forEach(ntf => {
                        if (user.id === ntf.initiated_user_id) {
                            this.users[index].notification = 2
                        }
                    })
                })

                this.notifications_synchronized = true
            },

            createInvitationUser(id) {
                this.disableInterface()
                let index = this.getModelIndex(id)
                this.getAxios().post(this.notificationURL, {
                    "notifiable_user_id": this.users[index].id,
                    "type": 1
                }).then(res => {
                    if (res.data.success) {
                        this.users[index].notification = 1
                        this.notified.push(res.data.notification)
                    }
                }).catch(e => {
                    this.unableInterface()
                })
            },

            cancelInvitationUser(id) {
                this.disableInterface()
                let index = this.getModelIndex(id, 'notified', 'notifiable_user_id')
                this.getAxios().delete(this.notificationURL + this.notified[index].id)
                    .then(res => {
                    }).catch(e => {
                    this.unableInterface()
                })
            },

            acceptInvitationUser(id) {
                this.disableInterface()
                let index = this.getModelIndex(id, 'notifications', 'initiated_user_id')
                this.getAxios().put(this.notificationURL + this.notifications[index].id, {
                    'accept': true
                }).then(res => {
                }).catch(e => {
                    this.unableInterface()
                })
            },

            denyInvitationUser(id) {
                this.disableInterface()
                let index = this.getModelIndex(id, 'notifications', 'initiated_user_id')
                this.getAxios().put(this.notificationURL + this.notifications[index].id, {
                    'accept': false
                }).then(res => {
                }).catch(e => {
                    this.unableInterface()
                })
            },

        }
    }
</script>

<style scoped>

</style>
