<template>
    <li class="list-group-item p-0">
        <div class="d-block p-3">
            <div class="row mb-3">
                <div class="col-5">
                    {{item.first_user.name}}
                </div>
                <div class="col-2">
                                        <span class="" style="cursor: pointer">
                                            <i class="fa fa-arrows-h text-secondary" aria-hidden="true"
                                               style="font-size: 1.2em;"></i>
                                        </span>
                </div>
                <div class="col-5 text-right">
                    {{item.second_user.name}}
                </div>
            </div>
            <div class="row py-3">
                <div class="col-6">
                    <div class="row justify-content-center">
                        <div class="col-8">height:</div>
                        <div class="col-4">{{item.rows}}</div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row justify-content-center">
                        <div class="col-8">width:</div>
                        <div class="col-4">{{item.cols}}</div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</template>

<script>
    export default {
        props: {
            item: {
                type: Object,
                required: true
            }
        }
    }
</script>

<style scoped>

</style>