<template>
    <li class="list-group-item p-0">
        <div class="d-block p-3" :class="item.notification === 2 ? 'border' : ''">
            <div class="row justify-content-between">
                <div class="col-md-6">
                    {{item.name}}
                </div>

                <div class="col-md-4 text-right" v-if="item.status !== 0">
                    <span class="px-2">
                        <i class="fa fa-gamepad text-secondary"
                           aria-hidden="true"
                           style="font-size: 1.2em;"></i>
                    </span>
                </div>

                <div class="col-md-4 text-right" v-else-if="item.notification === 0" @click="createInvitationUser">
                    <span class="px-2" style="cursor: pointer">
                        <i class="fa fa-plus"
                           :class="disabled ? 'text-light' : 'text-secondary'"
                           aria-hidden="true"
                           style="font-size: 1.2em;"></i>
                    </span>
                </div>

                <div class="col-md-4 text-right" v-else-if="item.notification === 1">
                    <span class="px-2" style="cursor: pointer" @click="cancelInvitationUser">
                        <i class="fa fa-close"
                           :class="disabled ? 'text-light' : 'text-secondary'"
                           aria-hidden="true"
                           style="font-size: 1.2em;"></i>
                    </span>
                    <span class="px-2">
                        <i class="fa fa-circle-o-notch"
                           :class="disabled ? 'text-light' : 'text-secondary'"
                           aria-hidden="true"
                           style="font-size: 1.2em;"></i>
                    </span>
                </div>


                <div class="col-md-4 text-right" v-else-if="item.notification === 2">
                    <span class="px-2" style="cursor: pointer" @click="denyInvitationUser">
                        <i class="fa fa-close"
                           :class="disabled ? 'text-light' : 'text-secondary'"
                           aria-hidden="true"
                           style="font-size: 1.2em;"></i>
                    </span>
                    <span class="px-2" style="cursor: pointer" @click="acceptInvitationUser">
                        <i class="fa fa-check"
                           :class="disabled ? 'text-light' : 'text-secondary'"
                           style="font-size: 1.2em;"></i>
                    </span>
                </div>

            </div>
        </div>
    </li>
</template>

<script>
    export default {
        props: {
            item: {
                type: Object,
                required: true
            },
            disabled: {
                type: Boolean,
                default: false
            }
        },
        methods: {
            createInvitationUser() {
                if (this.disabled) {
                    return false
                }
                this.$emit('create_invitation_user', this.item.id)
            },

            cancelInvitationUser() {
                if (this.disabled) {
                    return false
                }
                this.$emit('cancel_invitation_user', this.item.id)
            },

            acceptInvitationUser() {
                if (this.disabled) {
                    return false
                }
                this.$emit('accept_invitation_user', this.item.id)
            },

            denyInvitationUser() {
                if (this.disabled) {
                    return false
                }
                this.$emit('deny_invitation_user', this.item.id)
            },

        }
    }
</script>

<style scoped>

</style>