<template>
    <div class="position-relative">

        <alert-component
                :message="message"/>

        <nav-bar-component
                @toggleReady="toggleReady"
                v-if="users"
                :ready="owner.ready"
                :users="users"/>

        <main-component
                @showAlert="showAlert"
                :getAxios="getAxios"
                :gameFieldURL="gameFieldURL"/>
    </div>
</template>

<script>
    export default {

        data() {
            return {
                users: [],
                owner: {},

                message: '',

                userReadyURL: '/api/user-ready/',
                gameFieldURL: '/api/game-field/'
            }
        },

        created() {
            this.joinToFieldGameChannel()
        },

        methods: {
            showAlert(message) {
                this.message = message
                setTimeout(this.hideAlert, 2000)
            },

            hideAlert() {
              this.message = ''
            },

            getAxios() {
                return axios.create({
                    headers: {
                        'Authorization': 'Bearer ' + window.api_token,
                    }
                })
            },

            getUserIndex(id = window.user_id) {
                if (this.users[0].id === id) {
                    return 0
                }
                return 1
            },

            toggleReady() {
                this.getAxios().post(this.userReadyURL)
                    .catch(err => {
                        this.showAlert(err.response.data.message)
                    })
            },

            joinToFieldGameChannel() {
                Echo.join('field.configure.' + window.game_id)
                    .here(users => {
                        this.users = users
                        this.owner = users[this.getUserIndex()]
                    })
                    .joining(user => {
                        this.users.push(user)
                    })
                    .leaving(user => {
                        this.users.splice(this.getUserIndex(user.id), 1);
                    })
                    .listen('.UserReadyChangedEvent', data => {
                        this.users[this.getUserIndex(data.user.id)].ready = data.user.ready
                    })
                    .listen('.GameUpdatedEvent', data => {
                        if (data.game.status !== 1) {
                            window.location.reload(true)
                        }
                    })
            },
        }
    }
</script>

<style scoped>

</style>