<template>
    <table class="table table-bordered mx-5">

        <tbody class="shadow-sm">
        <tr class="bs_row" v-for="row in game.rows" :key="row">

            <td v-for="col in game.cols"
                :key="col"
                class="p-0"
                @dragend="dragEnd"
                @dragover.prevent
                @dragenter="$emit('fieldDragEnter', row, col)">
                <div
                        v-if="cells[row][col].type === 2"
                        class="cell bg-dark"
                        :draggable="true"
                        @dragstart="dragStart(cells[row][col].ship)"></div>
                <div
                        v-else-if="cells[row][col].type === 10 || nearShip(row, col)"
                        class="cell bg-primary"></div>
                <div
                        v-else-if="cells[row][col].type > 10"
                        class="cell bg-danger"></div>
                <div
                        v-else
                        class="cell"></div>
            </td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        props: {
            cells: {
                required: true
            },
            game: {
                type: Object,
                required: true
            },
            ship_id: {
                type: Number,
                required: true
            }
        },

        methods: {
            nearShip(row, col) {
                return this.cells[row][col].type > 10 &&
                    this.cells[row][col].ships.indexOf(this.ship_id) === 0 &&
                    this.cells[row][col].ships.length === 1
            },

            dragStart(ship) {
                this.$emit('shipSelectCell', 1)
                this.$emit('shipDragStart', ship)
            },

            dragEnd() {
                this.$emit('shipDragEnd')
            },
        }
    }
</script>

<style scoped>
    .cell {
        width: 40px;
        height: 40px;
    }

    .table {
        width: auto;
        height: auto;
    }
</style>