<template>
    <main class="py-4">
        <card-component>
            <div class="row justify-content-between">
                <div class="col-md-6">
                    <field-component
                            @shipSelectCell="shipSelectCell"
                            @shipDragEnd="shipDragEnd"
                            @shipDragStart="shipDragStart"
                            @fieldDragEnter="fieldDragEnter"
                            :ship_id="selected_ship_template ? selected_ship_template.id : 0"
                            :cells="cells"
                            :game="game"/>
                </div>
                <div class="col-md-5">
                    <div>
                        <ship-template
                                :direction_horizontal="direction_horizontal"
                                @shipSelectCell="shipSelectCell"
                                @shipDragEnd="shipDragEnd"
                                @shipDragStart="shipDragStart"
                                v-for="(ship, index) in game.ship_list"
                                :ship="ship"
                                :key="index"/>
                    </div>
                    <ship-drag-enter
                            @shipDragEnter="toggleDirection"
                            v-show="dragged">
                        <i class="fa fa-repeat text-secondary" style="font-size: 10em" aria-hidden="true"></i>
                    </ship-drag-enter>
                    <ship-drag-enter
                            @shipDragEnter="dropCoordinates"
                            v-show="dragged">
                        <i class="fa fa-close text-secondary" style="font-size: 10em" aria-hidden="true"></i>
                    </ship-drag-enter>
                </div>
            </div>
        </card-component>
    </main>
</template>

<script>
    export default {
        props: {
            getAxios: {
                type: Function,
                required: true
            },
            gameFieldURL: {
                type: String,
                required: true
            }
        },

        data() {
            return {
                game: {},
                ships: [],
                cells: [],

                transformed_ships_cells: [],
                transformed_entered_cells: [],

                selected_ships_cell_index: null,
                selected_ship_template: null,
                direction_horizontal: true,
                start_entered_cell: {col: null, row: null},

                dragged: false
            }
        },

        created() {
            this.getGameFieldData()
            this.listenForNotificationBroadcast()
        },

        methods: {
            dropCoordinates() {
                this.start_entered_cell = {col: null, row: null}
                this.setFieldDefault()
            },

            buildField() {
                for (let row = 1; row <= this.game.rows; row++) {
                    this.field[row] = {}
                    for (let col = 1; col <= this.game.cols; col++) {
                        this.field[row][col] = {
                            type: 0,
                        }
                    }
                }
            },

            addShipsToCells() {
                for (let row = 1; row <= this.game.rows; row++) {
                    for (let col = 1; col <= this.game.cols; col++) {
                        this.ships.forEach(ship => {
                            if (ship.id === this.cells[row][col].ship_id) {
                                this.cells[row][col].ship = ship
                            }
                        })
                    }
                }
            },

            getGameFieldData() {
                this.getAxios().get(this.gameFieldURL + window.game_id)
                    .then(res => {
                        if (res.status === 200) {
                            this.game = res.data.game
                            this.ships = res.data.ships
                            this.cells = res.data.cells
                            this.updateShipList()
                            this.addShipsToCells()
                        }
                    })
            },

            updateShipList() {
                this.game.ship_list.forEach((ship_template, index) => {
                    this.game.ship_list[index].id = null
                    this.game.ship_list[index].count = 0
                })

                this.ships.forEach(ship => {
                    if (ship.free || this.game.ship_list[ship.ship_template_id - 1].count === 0) {
                        this.game.ship_list[ship.ship_template_id - 1].id = ship.id
                    }
                    this.game.ship_list[ship.ship_template_id - 1].count += ship.free ? 1 : 0
                    this.game.ship_list[ship.ship_template_id - 1].ship_template_id = ship.ship_template_id
                })
            },

            fieldDragEnter(row, col) {
                this.setFieldDefault()

                if (this.direction_horizontal) {
                    col = col - this.selected_ships_cell_index
                    this.start_entered_cell.row = row

                    if (col + this.selected_ship_template.size > this.game.cols) {
                        this.start_entered_cell.col = this.game.cols - this.selected_ship_template.size + 1
                        for (let i = 0; i < this.selected_ship_template.size; i++) {
                            this.cells[row][this.game.cols - i].type += 10
                        }
                    } else if (col < 0) {
                        this.start_entered_cell.col = 1
                        for (let i = 1; i <= this.selected_ship_template.size; i++) {
                            this.cells[row][i].type += 10
                        }
                    } else {
                        this.start_entered_cell.col = col + 1
                        for (let i = 1; i <= this.selected_ship_template.size; i++) {
                            this.cells[row][col + i].type += 10
                        }
                    }

                } else {
                    row = row - this.selected_ships_cell_index
                    this.start_entered_cell.col = col

                    if (row + this.selected_ship_template.size > this.game.rows) {
                        this.start_entered_cell.row = this.game.rows - this.selected_ship_template.size + 1
                        for (let i = 0; i < this.selected_ship_template.size; i++) {
                            this.cells[this.game.rows - i][col].type += 10
                        }
                    } else if (row < 0) {
                        this.start_entered_cell.row = 1
                        for (let i = 1; i <= this.selected_ship_template.size; i++) {
                            this.cells[i][col].type += 10
                        }
                    } else {
                        this.start_entered_cell.row = row + 1
                        for (let i = 1; i <= this.selected_ship_template.size; i++) {
                            this.cells[row + i][col].type += 10
                        }
                    }
                }
            },

            shipDragStart(ship) {
                this.dragged = true
                ship.size = this.game.ship_list[ship.ship_template_id - 1].size
                ship.name = this.game.ship_list[ship.ship_template_id - 1].name

                this.selected_ship_template = ship
            },

            shipSelectCell(selected_ships_cell_index) {
                this.selected_ships_cell_index = selected_ships_cell_index
            },

            isSelectedCellsInvalid() {
                for (let row = 1; row <= this.game.rows; row++) {
                    for (let col = 1; col <= this.game.cols; col++) {
                        if (this.cells[row][col].type > 10) {
                            if (!(this.cells[row][col].ships.indexOf(this.selected_ship_template.id) === 0 &&
                                this.cells[row][col].ships.length === 1)) {
                                return true
                            }
                        }
                    }
                }
                return false
            },

            shipDragEnd() {
                let data = {'ship_id': this.selected_ship_template.id}

                if (this.isSelectedCellsInvalid()) {
                    this.$emit('showAlert', 'Coordinates should be empty!')
                    this.setDefaults()
                    return
                }

                if (this.start_entered_cell.row && this.start_entered_cell.col) {
                    data['from'] = this.start_entered_cell
                    data['direction_horizontal'] = this.direction_horizontal
                }
                this.getAxios().put(this.gameFieldURL + window.game_id, data)
                    .catch(e => {
                        this.$emit('showAlert', e.message)
                        this.setDefaults()
                    })
            },

            listenForNotificationBroadcast() {
                Echo.join('notifications.user.' + window.user_id)
                    .listen('.NotificationExceptionEvent', (e) => {
                        this.$emit('showAlert', e.message)
                        this.setDefaults()
                    })
                    .listen('.FieldUpdatedEvent', (e) => {
                        this.removeShipFromCells(e.deleted_cells)
                        if (e.cells) {
                            this.addShipToCells(e.cells)
                            this.setShipFree(false)
                        } else {
                            this.setShipFree(true)
                        }
                        this.setDefaults()
                    })
            },

            setDefaults() {
                this.transformed_entered_cells = []
                this.dragged = false
                this.selected_ships_cell_index = null
                this.selected_ship_template = null
                this.direction_horizontal = true
                this.start_entered_cell = {col: null, row: null}

                this.setFieldDefault()
            },

            setFieldDefault() {
                for (let row = 1; row <= this.game.rows; row++) {
                    for (let col = 1; col <= this.game.cols; col++) {
                        if (this.cells[row][col].type >= 10) {
                            this.cells[row][col].type -= 10
                        }
                    }
                }
            },

            removeShipFromCells(cells) {
                cells.forEach(cell => {
                    this.cells[cell.row][cell.col] = {ships: [], type: 0}

                    let row = cell.row - 1
                    if (0 < row && row <= this.game.rows) {
                        this.clearCellNearShip(row, cell.col - 1)
                        this.clearCellNearShip(row, cell.col)
                        this.clearCellNearShip(row, cell.col + 1)
                    }

                    this.clearCellNearShip(cell.row, cell.col - 1)
                    this.clearCellNearShip(cell.row, cell.col + 1)

                    row = cell.row + 1
                    if (0 < row && row <= this.game.rows) {
                        this.clearCellNearShip(row, cell.col - 1)
                        this.clearCellNearShip(row, cell.col)
                        this.clearCellNearShip(row, cell.col + 1)
                    }
                })
            },

            clearCellNearShip(row, col) {
                if (!(0 < col && col <= this.game.cols)) {
                    return
                }
                let ship_index = this.cells[row][col].ships.indexOf(this.selected_ship_template.id)
                if (ship_index !== -1) {
                    this.cells[row][col].ships.splice(ship_index, 1)
                }
                this.cells[row][col] = {
                    ships: this.cells[row][col].ships
                }
                this.cells[row][col].type = this.cells[row][col].ships.length === 0 ? 0 : 1
            },

            setShipFree(free = true) {
                this.ships.forEach((ship, index) => {
                    if (ship.id === this.selected_ship_template.id) {
                        this.ships[index].free = free
                    }
                })
                this.updateShipList()
            },

            updateCellNearShip(row, col) {
                if (!(0 < col && col <= this.game.cols)) {
                    return
                }
                if (this.cells[row][col].type === 2) {
                    return
                }
                if (this.cells[row][col].ships.indexOf(this.selected_ship_template.id) === -1) {
                    this.cells[row][col].ships.push(this.selected_ship_template.id)
                    this.cells[row][col].type = 1
                }
            },

            addShipToCells(cells) {
                cells.forEach(cell => {
                    let ships = this.cells[cell.row][cell.col].ships

                    let ship_index = ships.indexOf(this.selected_ship_template.id)
                    if (ship_index !== -1) {
                        ships.splice(ship_index, 1)
                    }

                    this.cells[cell.row][cell.col] = cell
                    this.cells[cell.row][cell.col].ships.push(...ships)
                    this.cells[cell.row][cell.col].ship = this.selected_ship_template

                    let row = cell.row - 1
                    if (0 < row && row <= this.game.rows) {
                        this.updateCellNearShip(row, cell.col - 1)
                        this.updateCellNearShip(row, cell.col)
                        this.updateCellNearShip(row, cell.col + 1)
                    }

                    this.updateCellNearShip(cell.row, cell.col - 1)
                    this.updateCellNearShip(cell.row, cell.col + 1)

                    row = cell.row + 1
                    if (0 < row && row <= this.game.rows) {
                        this.updateCellNearShip(row, cell.col - 1)
                        this.updateCellNearShip(row, cell.col)
                        this.updateCellNearShip(row, cell.col + 1)
                    }
                })
            },

            toggleDirection() {
                this.direction_horizontal = !this.direction_horizontal
                if (this.start_entered_cell.row > 0) {
                    this.fieldDragEnter(this.start_entered_cell.row, this.start_entered_cell.col)
                } else {
                    this.fieldDragEnter(this.start_entered_cell.row = 1, this.start_entered_cell.col = 1)
                }
            },
        }
    }
</script>

<style scoped>

</style>