<template>
    <div class="row mb-3 justify-content-md-center">
        <div class="col-6">
            <table class="table table-bordered">
                <tbody
                        class="shadow-sm"
                        @dragstart="dragStart"
                        @dragend="dragEnd"
                        draggable="true">
                <tr>
                    <td
                            v-for="cell in ship.size"
                            @mousedown="showCell(cell)"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-1">
            <label>
                {{ship.count}}
            </label>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            ship: {
                type: Object
            },
            direction_horizontal: {
                type: Boolean,
                required: true
            }
        },

        methods: {
            dragStart() {
                this.$emit('shipDragStart', JSON.parse(JSON.stringify(this.ship)))
            },

            dragEnd() {
                this.$emit('shipDragEnd', this.ship.id)
            },

            showCell(cell) {
                this.$emit('shipSelectCell', cell)
            }
        }
    }
</script>

<style scoped>

</style>