<template>
    <div class="row mb-3 justify-content-center">
        <div class="col-md-3 text-center  bg-light"
         @dragenter="$emit('shipDragEnter')">
            <slot/>
        </div>
    </div>
</template>

<script>
    export default {}
</script>

<style scoped>

</style>