<template>
    <div class="table-responsive">
        <table class="table table-bordered mx-5">

            <tbody :class="disabled ? 'shadow-sm-danger' : 'shadow-sm'">
            <tr class="bs_row" v-for="row in game.rows" :key="row">

                <td v-for="col in game.cols"
                    :key="col"
                    @click="$emit('shoot', row, col)"
                    class="p-0">
                    <div
                            v-if="cells[row][col].type === 0"
                            class="cell"></div>
                    <div
                            v-else-if="cells[row][col].type === 3"
                            class="cell" :class="cells[row][col].message.toLowerCase()"></div>
                    <div
                            v-else-if="cells[row][col].type === 1"
                            class="cell hover-warning"></div>
                    <div
                            v-else-if="cells[row][col].type === 2"
                            class="cell bg-dark"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        props: {
            cells: {
                required: true
            },
            game: {
                type: Object,
                required: true
            },
            is_enemy: {
                type: Boolean,
                default: false
            },
            disabled: {
                type: Boolean,
                default: false
            }
        },
    }
</script>

<style scoped>
    .cell {
        width: 40px;
        height: 40px;
    }

    .table {
        width: auto;
        height: auto;
    }

    .hover-warning:hover {
        background-color: #ffed4a;
    }

    .hit {
        background-color: #6c757d;
    }

    .miss {
        background-color: #6ddced;
    }

    .destroy {
        background: #007bff;
    }

    .shadow-sm-danger {
        box-shadow: 0 1rem 3rem rgba(220, 53, 69, 0.175) !important;
    }
</style>