<template>
    <div class="position-relative">

        <alert-component
                :message="message"/>

        <game-nav-bar-component
                v-if="score && users"
                :reverse="reverse"
                :users="users"
                :score="score"/>

        <main class="py-4">
            <card-component
                    v-if="game"
                    :header="'Second User'">
                <div class="row m-0 justify-content-between">
                    <div class="col-1">
                        <messages-component
                                :messages="enemy_messages"/>
                    </div>

                    <div class="col-11">
                        <game-field-component
                                :disabled="disabled"
                                @shoot="shoot"
                                :is_enemy="true"
                                :game="game"
                                :cells="enemy_cells"/>
                    </div>
                </div>
            </card-component>

            <card-component
                    v-if="game"
                    :header="'First User'">
                <div class="row m-0 justify-content-between">
                    <div class="col-1">
                        <messages-component
                                :messages="own_messages"/>
                    </div>

                    <div class="col-11">
                        <game-field-component
                                :game="game"
                                :cells="own_cells"/>
                    </div>
                </div>
            </card-component>
        </main>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                gameFieldsURL: '/api/game/' + window.game_id + '/fields/',
                shootURL: '/api/active-game/shoot',

                own_messages: [],
                enemy_messages: [],

                message: '',

                disabled: true,
                game_ended: false,

                reverse: false,
                game: null,
                users: null,
                score: null,
                own_cells: null,
                enemy_cells: null,
            }
        },

        created() {
            this.getGameDataField()
            this.joinToGameChannel()
            this.listenForNotificationBroadcast()
        },

        methods: {
            showAlert(message, timeout = 2000) {
                this.message = message
                setTimeout(this.hideAlert, timeout)
            },

            hideAlert() {
                this.message = ''
            },

            getAxios() {
                return axios.create({
                    headers: {
                        'Authorization': 'Bearer ' + window.api_token,
                    }
                })
            },

            getUserIndex(id = window.user_id) {
                if (this.users[0].id === id) {
                    return 0
                }
                return 1
            },

            getGameDataField() {
                this.getAxios().get(this.gameFieldsURL)
                    .then(res => {
                        if (res.status === 200) {
                            if (res.data.is_first_user_owner) {
                                this.own_cells = res.data.first_user_cells
                                this.enemy_cells = res.data.second_user_cells
                                this.disabled = !res.data.game.first_user_active
                                this.reverse = false
                            } else if (res.data.is_second_user_owner) {
                                this.own_cells = res.data.second_user_cells
                                this.enemy_cells = res.data.first_user_cells
                                this.disabled = res.data.game.first_user_active
                                this.reverse = true
                            } else {
                                this.own_cells = res.data.first_user_cells
                                this.enemy_cells = res.data.second_user_cells
                                this.game_ended = true
                            }

                            this.game = res.data.game
                            this.score = res.data.score
                        }
                    })
            },

            changeTypeAroundCell(row, col, where) {
                this.updateRowNearCell(row + 1, col, where)
                this.updateRowNearCell(row, col, where)
                this.updateRowNearCell(row - 1, col, where)

            },

            updateRowNearCell(row, col, where) {
                if (0 < row && row <= this.game.rows) {
                    this.updateCellNearCell(row, col + 1, where)
                    this.updateCellNearCell(row, col, where)
                    this.updateCellNearCell(row, col - 1, where)
                }
            },

            updateCellNearCell(row, col, where) {
                if (0 < col && col <= this.game.cols) {
                    if (this[where][row][col].type === 0) {
                        this[where][row][col].type = 1
                    }
                }
            },

            updateMessageCells(row, col, data, where, score) {
                let cells = where + '_cells'
                if (data.cells) {
                    data.cells.forEach(cell => {
                        this[cells][cell.row][cell.col].message = cell.message
                        this[cells][cell.row][cell.col].type = cell.type
                    })
                } else {
                    this[cells][row][col].message = data.message
                    this[cells][row][col].type = 3
                }

                this[where + '_messages'].splice(6, 1)
                let messages = [data.message]
                messages.push(...this[where + '_messages'])
                this[where + '_messages'] = messages

                if (data.message === 'Hit' || data.message === 'Destroy') {
                    this.score[score] += 1
                    this.changeTypeAroundCell(row, col, cells)
                }
                if (data.message === 'Miss') {
                    this.disabled = !this.disabled
                }
            },

            shoot(row, col) {
                if (this.game_ended) {
                    return
                } else if (this.disabled) {
                    return this.showAlert('There is not your turn now!')
                }

                this.disabled_shoot = true
                this.getAxios().post(this.shootURL, {
                    "row": row,
                    "col": col,
                })
                    .catch(err => {
                        this.disabled_shoot = false
                    })
            },

            listenForNotificationBroadcast() {
                Echo.join('notifications.user.' + window.user_id)
                    .listen('.NotificationExceptionEvent', (e) => {
                        this.showAlert(e.message)
                    })
            },

            joinToGameChannel() {
                Echo.join('active.game.' + window.game_id)
                    .here(users => {
                        this.users = users
                    })
                    .joining(user => {
                        this.users.push(user)
                    })
                    .leaving(user => {
                        this.users.splice(this.getUserIndex(user.id), 1);
                    })
                    .listen('.ShootEvent', data => {
                        if (data.cell.user_id === window.user_id) {
                            this.updateMessageCells(data.cell.row, data.cell.col, data, 'own',
                                this.reverse ? 'first_user_score' : 'second_user_score')
                        } else {
                            this.updateMessageCells(data.cell.row, data.cell.col, data, 'enemy',
                                this.reverse ? 'second_user_score' : 'first_user_score')
                        }
                    })
                    .listen('.GameUpdatedEvent', data => {
                        if (data.game.status === 3) {
                            this.game_ended = true
                            let message = '';

                            if (data.game.first_user.id === window.user_id && data.game.first_user_active ||
                            data.game.first_user.id !== window.user_id && !data.game.first_user_active) {
                                message = 'You Win!'
                            } else if (data.game.first_user.id === window.user_id && !data.game.first_user_active ||
                            data.game.first_user.id !== window.user_id && data.game.first_user_active) {
                                message = 'You Loose!'
                            }
                            this.message = message
                        }
                    })
            }
        }
    }
</script>

<style scoped>

</style>
