<template>
    <table class="table table-bordered">
        <tbody class="shadow-sm">
        <tr class="bs_row" v-for="msg in messages">
            <td>
                {{msg}}
            </td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        props: {
            messages: {
                type: Array,
                required: true
            }
        }
    }
</script>

<style scoped>

</style>