<template>
    <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="/">
                Laravel
            </a>


            <div class="collapse navbar-collapse">
                <!-- Left Side Of Navbar -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item position-relative" v-for="user in users">
                        <span class="nav-link" style="cursor: default">{{user.name}}</span>
                        <span class="dot"></span>
                    </li>
                </ul>

                <!-- Right Side Of Navbar -->
                <ul class="navbar-nav m-auto">
                    <!-- Authentication Links -->
                    <li class="nav-item" title="Own score">
                        <span class="nav-link" style="cursor: default">{{reverse ? score.second_user_score: score.first_user_score}}</span>
                    </li>
                    <!-- Authentication Links -->
                    <li class="nav-item" title="Total score">
                        <span class="nav-link" style="cursor: default">{{score.score}}</span>
                    </li>
                    <!-- Authentication Links -->
                    <li class="nav-item" title="Enemy Score">
                        <span class="nav-link" style="cursor: default">{{reverse ? score.first_user_score: score.second_user_score}}</span>
                    </li>
                </ul>

                <!-- Right Side Of Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Authentication Links -->
                    <li class="nav-item">
                        <span class="nav-link" style="cursor: pointer">Give up</span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        props: {
            users: {
                type: Array,
                required: true
            },

            score: {
                type: Object,
                required: true
            },

            reverse: {
                type: Boolean,
                required: true
            }
        }
    }
</script>

<style scoped>

</style>