<template>
    <div
            class="row mx-0 justify-content-center position-fixed"
            style="width: 100%;
                         z-index: 1000;
                         bottom: 20px"
            v-if="message">
        <div class="col-md-4 position-relative">
            <div class="alert alert-dark text-center" role="alert">
                <a :href="url" class="d-block" v-if="url">{{message}}</a>
                <span class="d-block" v-else>{{message}}</span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            message: {
                type: String,
                required: true
            },
            url: {
                type: String,
            }
        }
    }
</script>

<style scoped>

</style>