<template>
    <!-- Default Card Example -->
    <div class="card shadow mb-4">
        <div class="card-header font-weight-bold" v-if="header">
            {{header}}
        </div>
        <div class="card-body">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            header: {
                type: String
            }
        }
    }
</script>

<style scoped>

</style>