<template>
    <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="/">
                Laravel
            </a>


            <div class="collapse navbar-collapse">
                <!-- Left Side Of Navbar -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item position-relative" v-for="user in users">
                        <span class="nav-link" style="cursor: default">{{user.name}}</span>
                        <span class="dot"
                              :class="user.ready ? 'bg-secondary' : ['border', 'border-secondary']"></span>
                    </li>
                </ul>

                <!-- Right Side Of Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Authentication Links -->
                    <li class="nav-item" @click="toggleReady">
                        <span class="nav-link" style="cursor: pointer">{{ready ? 'Not Ready': 'Ready'}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        props: {
            users: {
                type: Array
            },
            ready: {
                type: Boolean,
                default: false
            }
        },

        created() {
        },

        methods: {
            toggleReady() {
                this.$emit('toggleReady')
            },
        }
    }
</script>

<style scoped>
    .dot {
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 6px;
        position: absolute;
        top: 7px;
        right: 0px;
    }
</style>