<template>
    <div class="position-relative">

        <alert-component
                :message="message"/>

        <nav-bar-component
                v-if="online_users && owner"
                @showAlert="showAlert"
                @toggleReady="toggleReady"
                :ready="owner.ready"
                :users="online_users">
        </nav-bar-component>
        <game-configure-main-component
                @showAlert="showAlert"
                @disable="disableMain"
                @enable="enableMain"
                :disabled="disable_main"
                :observer="observer"
                :shipListURL="shipListURL"
                :activeGameURL="activeGameURL"
                v-if="game"
                :getAxios="getAxios"
                :game="game">

        </game-configure-main-component>
    </div>
</template>

<script>
    export default {

        data() {
            return {
                owner: null,
                game: null,
                online_users: [],

                message: '',
                disable_main: false,
                observer: true,

                userReadyURL: '/api/user-ready/',
                shipListURL: '/api/ship-list/',
                activeGameURL: '/api/active-game/'
            }
        },

        created() {
            this.joinToGameCreatingChannel()
            this.listenForNotificationBroadcast()
            this.getGame()
        },

        methods: {
            showAlert(message) {
                this.message = message
                setTimeout(this.hideAlert, 2000)
            },

            hideAlert() {
                this.message = ''
            },

            getAxios() {
                return axios.create({
                    headers: {
                        'Authorization': 'Bearer ' + window.api_token,
                    }
                })
            },

            disableMain() {
                this.disable_main = true
            },

            enableMain() {
                this.disable_main = false
            },

            getUserIndex(id = window.user_id) {
                if (this.online_users[0].id === id) {
                    return 0
                }
                return 1
            },

            joinToGameCreatingChannel() {
                Echo.join('game.configure.' + window.game_id)
                    .here(users => {
                        this.online_users = users
                        this.owner = users[this.getUserIndex()]
                        this.synchronizeUsers()
                    })
                    .joining(user => {
                        this.online_users.push(user)
                    })
                    .leaving(user => {
                        this.online_users.splice(this.getUserIndex(user.id), 1);
                    })
                    .listen('.UserReadyChangedEvent', data => {
                        this.online_users[this.getUserIndex(data.user.id)].ready = data.user.ready

                    })
                    .listen('.GameUpdatedEvent', data => {
                        this.game = data.game
                        this.enableMain()
                        if (data.game.status !== 0) {
                            window.location.reload(true)
                        }
                    })
            },

            listenForNotificationBroadcast() {
                Echo.join('notifications.user.' + window.user_id)
                    .listen('.NotificationExceptionEvent', (e) => {
                        this.showAlert(e.message)
                    })
            },

            getGame() {
                this.getAxios().get(this.activeGameURL + window.game_id)
                    .then(res => {
                        if (res.status === 200) {
                            this.game = res.data.data
                            this.observer = this.game.first_user.id !== window.user_id
                            this.synchronizeUsers()
                        }
                    })
            },

            synchronizeUsers() {
                if (!this.online_users || !this.game) {
                    return
                }
                if (this.online_users[0]) {
                    this.online_users[0].ready = this.online_users[0].id === this.game.first_user.id ?
                        this.game.first_user.ready : this.game.second_user.ready
                }
                if (this.online_users[1]) {
                    this.online_users[1].ready = this.online_users[1].id === this.game.first_user.id ?
                        this.game.first_user.ready : this.game.second_user.ready
                }
            },

            toggleReady() {
                this.getAxios().post(this.userReadyURL)
                    .catch(err => {
                        this.showAlert(err.response.data.message)
                    })
            }
        }
    }
</script>

<style scoped>

</style>
