<template>
    <div class="py-4">
        <div class="row m-0">
            <div class="col-lg-6">
                <card-component
                        :header="'Game sizes'">
                    <size-input
                            :observer="observer"
                            :event_name="'changeRows'"
                            @changeRows="changeRows"
                            :value_default="game.rows"
                            :disabled="disabled"
                            :label="'rows'"/>

                    <size-input
                            :observer="observer"
                            :event_name="'changeCols'"
                            @changeCols="changeCols"
                            :value_default="game.cols"
                            :disabled="disabled"
                            :label="'cols'"/>
                </card-component>
            </div>

            <div class="col-lg-6">

                <card-component
                        :header="'Ships configuration'">
                    <ship-template-input
                            :observer="observer"
                            v-for="template in game.ship_list"
                            :key="template.id"
                            :template="template"
                            :disabled="disabled"
                            @changeShipList="changeShipList"/>
                </card-component>

            </div>
        </div>
        <div class="row m-0">
            <div class="col">
                <card-component
                        :header="'Field example'">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody class="shadow-sm">
                            <tr
                                    class=""
                                    v-for="row in game.rows"
                                    :key="row">
                                <td
                                        class=""
                                        v-for="col in game.cols"
                                        :key="col"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </card-component>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        props: {
            game: {
                type: Object
            },
            getAxios: {
                type: Function
            },
            shipListURL: {
                type: String
            },
            activeGameURL: {
                type: String
            },
            observer: {
                type: Boolean,
                required: true
            },
            disabled: {
                type: Boolean,
                required: true
            }
        },

        methods: {
            changeRows(rows, setDefaults) {
                this.changeSize(this.game.cols, rows, setDefaults)
            },

            changeCols(cols, setDefaults) {
                this.changeSize(cols, this.game.rows, setDefaults)
            },


            changeSize(cols, rows, setDefaults) {
                if (this.disabled) {
                    return
                }
                this.$emit('disable')
                this.getAxios().put(this.activeGameURL + this.game.id, {
                    'cols': cols,
                    'rows': rows,
                }).catch(err => {
                    setDefaults()
                    this.$emit('enable')
                    this.$emit('showAlert', err.response.data.message)
                })
            },

            changeShipList(shipTemplateId, count, setDefaults) {
                if (this.disabled) {
                    return
                }
                this.$emit('disable')
                this.getAxios().put(this.shipListURL + this.game.id, {
                    'ship_template_id': shipTemplateId,
                    'count': count
                }).catch(err => {
                    setDefaults()
                    this.$emit('enable')
                    this.$emit('showAlert', err.response.data.message)
                })
            }
        }
    }
</script>

<style scoped>

</style>