<template>
    <div class="row mb-3 justify-content-md-center">
        <div class="col-6">
            <table class="table table-bordered">

                <tbody class="shadow-sm">
                <tr class="">
                    <td class=""
                        v-for="index in template.size"
                        :key="index"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-2">
            <label>
                {{template.name}}:
            </label>
        </div>
        <div class="col-2" v-if="observer">
            <span>{{template.count}}</span>
        </div>
        <div class="col-2" v-else>
            <input
                    type="number"
                    class="d-inline form-control form-control-sm"
                    v-model="value"
                    v-if="disabled"
                    disabled>
            <input
                    type="number"
                    class="d-inline form-control form-control-sm"
                    :value="template.count"
                    v-else
                    @change="changeInput">
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            template: {
                type: Object,
                required: true
            },
            disabled: {
                type: Boolean,
                required: true
            },
            observer: {
                type: Boolean,
                required: true
            },
        },

        data() {
            return {
                value: this.template.count
            }
        },

        methods: {
            changeInput(e) {
                this.value = e.target.valueAsNumber
                this.$emit('changeShipList', this.template.id, e.target.valueAsNumber, this.SetDefaults)
            },

            SetDefaults() {
               this.value = this.template.count
            }
        }
    }
</script>

<style scoped>

</style>