<template>
    <div class="row mb-3 justify-content-md-center">
        <div class="col-3">
            <label>
                {{label}}:
            </label>
        </div>
        <div class="col-3" v-if="observer">
            <span>{{value_default}}</span>
        </div>
        <div class="col-3" v-else>
            <input type="number"
                   class="d-inline form-control form-control-sm"
                   v-if="disabled"
                   disabled
                   v-model="value">

            <input type="number"
                   class="d-inline form-control form-control-sm"
                   v-else
                   @change="changeInput"
                   :value="value_default">
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            label: {
                type: String
            },
            value_default: '',
            disabled: {
                type: Boolean,
                required: true
            },
            observer: {
                type: Boolean,
                required: true
            },
            event_name: {
                type: String,
                required: true
            }
        },

        data() {
            return {
                value: this.value_default
            }
        },

        methods: {
            changeInput(e) {
                this.value = e.target.valueAsNumber
                this.$emit(this.event_name, e.target.valueAsNumber, this.setDefaults)
            },

            setDefaults() {
                this.value = this.value_default
            }
        }
    }
</script>

<style scoped>

</style>